/* style.css */
body {
    max-width: 375px;
    width: 100%;
    margin: 0 auto; /* horizontal centering */
    padding: 2rem 1rem;
    background-color: #f5f5f5;
}

h1 {
    color: #cf2039;
    font-family: 'Instrument Sans', sans-serif;
    font-size: 20.5pt;
    font-weight: 800;
}

h2 {
    color: #cf2039;
    font-family: 'Instrument Sans', sans-serif;
    font-size: 17pt;
    font-weight: 800;
}

.main {
    font-family: 'Besley', serif;
    font-size: 11pt;
    padding-bottom: 10px;
}

.main a {
    color: #cf2039;
    text-decoration: none;
    font-weight: 400;
}

.main a:hover {
    text-decoration: underline;
}

sup {
    font-size: 8pt;
}

ol {
    margin-top: 5px;
    margin-left: 0px;
    padding-inline-start: 30px;
}

li {
    padding: 5px;
    margin-left: 0;
}

#authors {
    font-weight: 600;
    font-size: 13pt;
}

#affiliations {
    font-weight: 400;
    font-size: 10pt;
    line-height: 1.25em;
}

#abstract-id {
    font-family: 'Instrument Sans', sans-serif;
    font-weight: 600;
    margin: 20px 0px 10px 0px;
    font-size: 13pt;
}

#abstract-text {
    line-height: 1.35em;
    text-align: left;
}

#abstract-text > h4 {
    font-size: 12pt;
    margin-bottom: 8px;
}

#references {
    font-size: 10.5pt;
    margin-top: 40px;
    line-height: 1.3em;
}

#references > h2 {
    font-family: 'Instrument Sans', sans-serif;
}

#references > ol {
    padding-inline-start: 15px;
}

/* Sidebar styles */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: #99794A;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px;
}

.sidebar a {
    padding: 5px 25px;
    text-decoration: none;
    font-size: 18pt;
    font-weight: 600;
    font-family: 'Instrument Sans', sans-serif;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #8f7042;
}

.sidebar .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    background: none;
    color: #fff;
    border: none;
    cursor: pointer;
}

#openSidebar {
    font-size: 20px;
    cursor: pointer;
    background-color: #f5f5f5;
    color: #8f7042;
    border: none;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 998;
    transition: 0.3s;
}

#openSidebar:hover {
    background-color: #cf2039;
    color: #ffffff
}

/* Screen overlay styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 998;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.fa-xmark {
    font-size: 18pt;
}